/*RESET GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_fiche{
    display: flex;
    flex-wrap: wrap;
    
}

.left{
    width: 40%;   
    margin-top: 10vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LEFT_BIS EST UNIQUEMENT VISIBLE SUR MOBILE*/
.left_bis{
    display: none;
}

.affiche{    
    width: 30vw;
    vertical-align: middle;  
}

/*BOX CONTIENT L'ETOILE (.fa-star) ET LA NOTE (.note) QUI FIGURENT SOUS L'AFFICHE*/

.box{
    font-size: 2em;
    padding-top: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;        
}

.fa-star{
    color:#FCF800;
    padding-right:0.3em;    
}

.note{
    padding-bottom: 0.3em;
    color:#D9D9D9;
    
}

.right{
    width: 60%;
    margin-top: 10vh;
    
}

.titre{
    color: #FCF800;    
    font-size: 1.7em;
    text-align: center;
    padding-bottom: 3vh;
}

.original{
    color: white;
    padding-left: 12vw;
    padding-bottom: 5vh;
}

/*infos acteurs, genre etc*/

.container1{
    display: flex;
    flex-wrap: wrap;
    
}
.left1{
    width: 67%;
    padding-bottom: 5vh; 
}
.right1{
    width: 33%;
    padding-bottom: 5vh; 
}

.cast{
    color: #FCF800;
    padding-left: 12vw;
}

.infos{
    color: #FCF800;
}
/*synopsis*/

.description{
    color: white;
    font-size: 1.5em;
    text-align: justify;
    padding: 0 12vw;
}

.bouton{    
    text-align: center;        
}

button{    
    margin: 5vh auto;
    cursor: pointer;
    height: 5vh;
    width: 20vh;
    border-radius: 0.7em;
    background-color: #D9D9D9;
}

.diffusion{      
    width: 100%;
    text-align: center;    
}

.lien{
    color: #FCF800;
    text-decoration: none;
    font-size: 1.2em;
}

.titre_avis{
    color:#D9D9D9;
    width: 100%;
    text-align: center;
    padding-top: 3em;
    font-size: 1.5em;
}

.noter{
    color: #D9D9D9;
}

.avis{
    display: block;
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}

.commentaire{
    display: block;
    margin: auto;
}

/* TABLETTE */

@media screen and (max-width: 769px){

.left{
    margin-top: 5vh;
}

.box{
    font-size: 1.5em;    
}

.description{        
    font-size: 1em;        
    padding: 0 8vw;
}

.cast{
    padding-left: 8vw;
}

.left1{
    width: 55%;
    font-size: 0.8em;    
}
.right1{
    width: 45%;
    font-size: 0.8em;
    padding-left: 5vw;    
}

.titre{
    font-size: 1.5em;
}

.original{
    padding-left: 8vw;  
}

.lien{
    font-size: 1em;
}

.titre_avis{
    font-size: 1.2em;
}

.stars{
    font-size: 0.8em;
}

.commentaire{
   width: 50%;
}

}

/*MOBILE*/

@media screen and (max-width: 421px){   

.container{
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    }

.right{
    width: 100%;
    margin-top: 2vh;        
        
}

.left{
    display: none;
}

.left_bis{
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;

}

.titre{
    font-size: 1.4em;
    padding-bottom: 5vw;
    margin: 0 10vw;   
}

.original{
    padding-left: 0;
    margin: 0 10vw;
    text-align: center;
}

.affiche{    
    width: 60vw;
    
}

.box{
    font-size: 1.2em;
    padding: 0.2em 0 1em;
}

.stars{
    font-size: 0.6em;
}

.commentaire{
    width: 70%;
    height: 10vh;
 }


}
    
   
   

 
