* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Code CSS correspondant au header ( Nom du site + navbar + Connexion/Inscription ) */

header {
  background-color: #060D17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@font-face {
  font-family: Scratched Letters;
  src: url("./police/Scratched_Letters.ttf");
}

#accueil_titre_principal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.accueil_titre_1 {
  font-size: 2.5em;
  margin-left: 1rem;
  color: #f0f0f0;
  font-family: "Scratched Letters", sans-serif;
}

.accueil_titre_1 a {
  text-decoration: none;
  color: #f0f0f0;
}


nav ul {
  list-style-type: none;
  display: flex;
  font-family: 'Cormorant', serif;
  font-size: 1.5rem;
}

nav li {
  margin-right: 6vw;
}

nav a {
  color: #f0f0f0;
}

nav a:hover {
  color: #FCF800;
}

.btn-account {
  display: flex;
  align-items: center;
}

.fa-user-large:before {
  content: "\f406";
  color: #f0f0f0;
  margin-right: 1em;
}

#accueil-slogo {
  background-color: #060D17;
  display: flex;
  flex-wrap: wrap;
}

#accueil-slogo img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.accueil-logo {
  width: 50%;
  vertical-align: middle;
}

.accueil-slogan {
  width: 50%;
}

.accueil-scotch-top {
  background-image: url(./img/yellow_scotch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 0.8vh;
}

.accueil-scotch-bottom {
  background-image: url(./img/yellow_scotch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 0.8vh;
}

/* Fin code CSS Bannière Accueil */

/* Début code CSS Carrousel Accueil */
body {
  margin: 0;
  background: #060D17;
  font-family: 'Cormorant', serif;
  color: #f0f0f0;
}

.container_carousel {
  position: relative;
  width: 265px;
  margin: 3em auto;
  perspective: 1000px;
  transform: scale(0.8);
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 30s infinite forwards linear;
}

.carousel__face {
  position: absolute;
  width: 21vh;
  height: 30vh;
  background-size: cover;
}

.carousel__face:nth-child(1) {
  background-image: url("./img/films/asterix_et_obelix_lempire_du_milieu.jpg");
  transform: rotateY(0deg) translateZ(430px);
}

.carousel__face:nth-child(2) {
  background-image: url("./img/series/andor.jpg");
  transform: rotateY(40deg) translateZ(430px);
}

.carousel__face:nth-child(3) {
  background-image: url("./img/films/avatar_la_voie_de_leau.jpg");
  transform: rotateY(80deg) translateZ(430px);
}

.carousel__face:nth-child(4) {
  background-image: url("./img/series/game_of_thrones_house_of_the_dragon.jpg");
  transform: rotateY(120deg) translateZ(430px);
}

.carousel__face:nth-child(5) {
  background-image: url("./img/films/black_panther_wakanda_forever.jpg");
  transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) {
  background-image: url("./img/series/le_seigneur_des_anneaux_les_anneaux_de_pouvoir.jpg");
  transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) {
  background-image: url("./img/films/top_gun_maverick.jpg");
  transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
  background-image: url("./img/series/westworld.png");
  transform: rotateY(280deg) translateZ(430px);
}

.carousel__face:nth-child(9) {
  background-image: url("./img/films/creed_3.jpg");
  transform: rotateY(320deg) translateZ(430px);
}



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

/* Fin code CSS Carrousel Accueil */

/* -------------------------- POPUP INSCRIPTION/CONNEXION ------------------------------ */

/* Overlay */

.overlay {
  background-color: rgba(0, 0, 0, 0.105);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  color: white;
  visibility: hidden;
  transition: opacity 0.4s;
  opacity: 0;
  z-index: 3;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/* Popup espace connexion */

#popup,
#popup-2 {
  background: #0D1726;
  height: 60vh;
  width: 30vw;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#linkBtnClose {
  color: white;
  text-decoration: none;
}

#linkBtnClose:hover {
  color: #DCC12C;
  transition: color 0.6s ease;
}

#btnClose {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: bold;
}

#popup h2 {
  margin-top: 0;
  font-weight: 100;
  color: #DCC12C;
  font-size: 18px;
}

#popup p {
  margin-top: 0;
}

#popup label {
  color: #C6E0E0;
  font-size: 12px;
}

#popup h2,
p,
form {
  text-align: center;
}

#popup input {
  margin: 0 0 10px 0;
  background-color: #D9D9D9;
  border: none
}

#popup input[type=password],
#popup input[type=text] {
  margin-top: 5px;
}

#popup-2 {
  transform: translateY(145px);
}


#link-lose-password {
  color: #C6E0E0;
  text-align: center;
  font-size: 13px;
  margin: 10px auto;
}

#link-lose-password:hover {
  color: white;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: underline;
}

#form-lose-password {
  opacity: 0;
  visibility: hidden;
}

#create-account {
  background-color: #D9D9D9;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#create-account:hover a {
  background-color: #0D1726;
  color: white;
  transition: all 0.3s ease;
}

.link-create-account {
  text-decoration: none;
  color: black;
  background-color: #D9D9D9;
  font-weight: 300;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  transition: all 1s ease;
  border: none;
}

#link-create-account:hover,
#link-connexion-account:hover {
  background-color: #0D1726;
  color: white;
  transition: all 1s ease;
  cursor: pointer;
}

/* Popup espace inscription */

.box-inscription {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#link-inscription {
  background: #DCC12C;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.6s ease;
}

#link-inscription-2 {
  transform: scale(0.96);
  transition: all 0.3s ease;
}

#link-connexion {
  background: #DCC12C;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.6s ease;
}

#link-connexion:hover,
#link-inscription:hover {
  transform: scale(0.96);
  transition: all 0.3s ease;
}

/*  Scotch de la fenêtre pop-up */

#scotch-1 {
  position: absolute;
  transform: rotate(145deg);
  height: 15px;
  left: -211px;
  top: -8px;
  z-index: 1;
}

#scotch-2 {
  position: absolute;
  transform: rotate(145deg);
  height: 16px;
  right: -211px;
  bottom: -23px;
  z-index: 1;
}

/* -------------------------- FIN POPUP INSCRIPTION/CONNEXION ------------------------------ */
/*--------------------------------------- Media queries -----------------------------------------------*/



@media screen and (min-width: 320px) and (max-width: 769px) {

  #popup,
  #popup-2 {
    width: 100vw;
    height: 100vh;
  }
}

/* Responsive en dessous de 1440px */

@media screen and (max-width:1440px) {
  #grid {
    grid-template-columns: repeat(5, 160px);

  }
}

/* Responsive en dessous de 1024px */

@media screen and (max-width:1024px) {
  #grid {
    grid-template-columns: repeat(4, 160px);

  }
}

/* Responsive en dessous de 768px */

@media screen and (max-width: 768px) {
  .carousel__face:nth-child(1) {
    background-image: url("./img/films/asterix_et_obelix_lempire_du_milieu.jpg");
    transform: rotateY(0deg) translateZ(350px);
  }

  .carousel__face:nth-child(2) {
    background-image: url("./img/series/andor.jpg");
    transform: rotateY(40deg) translateZ(350px);
  }

  .carousel__face:nth-child(3) {
    background-image: url("./img/films/avatar_la_voie_de_leau.jpg");
    transform: rotateY(80deg) translateZ(350px);
  }

  .carousel__face:nth-child(4) {
    background-image: url("./img/series/game_of_thrones_house_of_the_dragon.jpg");
    transform: rotateY(120deg) translateZ(350px);
  }

  .carousel__face:nth-child(5) {
    background-image: url("./img/films/black_panther_wakanda_forever.jpg");
    transform: rotateY(160deg) translateZ(350px);
  }

  .carousel__face:nth-child(6) {
    background-image: url("./img/series/le_seigneur_des_anneaux_les_anneaux_de_pouvoir.jpg");
    transform: rotateY(200deg) translateZ(350px);
  }

  .carousel__face:nth-child(7) {
    background-image: url("./img/films/top_gun_maverick.jpg");
    transform: rotateY(240deg) translateZ(350px);
  }

  .carousel__face:nth-child(8) {
    background-image: url("./img/series/westworld.png");
    transform: rotateY(280deg) translateZ(350px);
  }

  .carousel__face:nth-child(9) {
    background-image: url("./img/films/creed_3.jpg");
    transform: rotateY(320deg) translateZ(350px);
  }

  #grid {
    grid-template-columns: repeat(3, 160px);

  }
}



/* Responsive en dessous de 425px */

@media screen and (max-width: 425px) {
  .carousel__face:nth-child(1) {
    background-image: url("./img/films/asterix_et_obelix_lempire_du_milieu.jpg");
    transform: rotateY(0deg) translateZ(325px);
  }

  .carousel__face:nth-child(2) {
    background-image: url("./img/series/andor.jpg");
    transform: rotateY(40deg) translateZ(325px);
  }

  .carousel__face:nth-child(3) {
    background-image: url("./img/films/avatar_la_voie_de_leau.jpg");
    transform: rotateY(80deg) translateZ(325px);
  }

  .carousel__face:nth-child(4) {
    background-image: url("./img/series/game_of_thrones_house_of_the_dragon.jpg");
    transform: rotateY(120deg) translateZ(325px);
  }

  .carousel__face:nth-child(5) {
    background-image: url("./img/films/black_panther_wakanda_forever.jpg");
    transform: rotateY(160deg) translateZ(325px);
  }

  .carousel__face:nth-child(6) {
    background-image: url("./img/series/le_seigneur_des_anneaux_les_anneaux_de_pouvoir.jpg");
    transform: rotateY(200deg) translateZ(325px);
  }

  .carousel__face:nth-child(7) {
    background-image: url("./img/films/top_gun_maverick.jpg");
    transform: rotateY(240deg) translateZ(325px);
  }

  .carousel__face:nth-child(8) {
    background-image: url("./img/series/westworld.png");
    transform: rotateY(280deg) translateZ(325px);
  }

  .carousel__face:nth-child(9) {
    background-image: url("./img/films/creed_3.jpg");
    transform: rotateY(320deg) translateZ(325px);
  }

  #grid {
    grid-template-columns: repeat(2, 160px);

  }
}

/*---------------------------------------  FIN Media queries -----------------------------------------------*/

/* Début code Footer*/
footer {
  width: 100%;
  background: #041626;
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Cormorant', serif;
  position: fixed;
  bottom: 0;
  height: 2em;
}

/* Fin code Footer*/

/* Début code page Mentions légales*/
.mentleg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mentleg a {
  text-decoration: none;
  color: #FCF800;
}

#mentleg p {
  margin-left: 20px;
  margin-right: 20px;
}

#mentleg h1,
h2 {
  text-align: center;
}

.mentlega {
  color: #f0f0f0;
  z-index: 100;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
}

/* Fin code page Mentions légales*/

/* ----------------------------- Page MON ESPACE ------------------------------*/

#filtres,
#sous-filtres {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: #D9D9D9;
  margin-bottom: 20px;
  font-size: 20px;
}

#filtres {
  margin-top: 40px;
}

#filtres li,
#sous-filtres li {
  margin-right: 20px;
}

#filtres li:hover,
#sous-filtres li:hover {
  color: #FCF800;
  cursor: pointer;
  transition: color 1s ease;
}

#sous-filtres~a {
  margin: 0 auto;
}

#box-btn-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}


#btn-submit {
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  color: #D9D9D9;
  transition: all 0.5s ease-out;
  box-shadow: inset #FCF800 0 0;
  border: 1px solid #FCF800;

}

#btn-submit:hover {
  transition: all 1.3s ease;
  box-shadow: inset #FCF800 0 -200px;
  color: black;
}

#container-espace {
  width: 100%;
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-auto-rows: 260px;
  gap: 5px;
  height: 100vh;
  overflow-y: scroll;
  padding-right: 10px;
}

#grid::-webkit-scrollbar {
  background-color: #dedede;
  width: 10px;
}

#grid::-webkit-scrollbar {
  background-color: #757575;
}

.grid-item {
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.grid-item:hover #overlay {
  bottom: 0;
}

.grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease;
}


/* ----------------------------- FIN Page MON ESPACE ------------------------------*/

/* ----------------------------- FICHES -----------------------------------------*/

.container_fiche {
  display: flex;
  flex-wrap: wrap;

}

.left {
  width: 40%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LEFT_BIS EST UNIQUEMENT VISIBLE SUR MOBILE*/
.left_bis {
  display: none;
}

.affiche {
  width: 30vw;
  vertical-align: middle;
}

/*BOX CONTIENT L'ETOILE (.fa-star) ET LA NOTE (.note) QUI FIGURENT SOUS L'AFFICHE*/

.box {
  font-size: 2em;
  padding-top: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-star {
  color: #FCF800;
  padding-right: 0.3em;
}

.note {
  padding-bottom: 0.3em;
  color: #D9D9D9;

}

.right {
  width: 60%;
  margin-top: 10vh;

}

.titre {
  color: #FCF800;
  font-size: 1.7em;
  text-align: center;
  padding-bottom: 3vh;
}

.original {
  color: white;
  padding-left: 12vw;
  padding-bottom: 5vh;
}

/*infos acteurs, genre etc*/

.container1 {
  display: flex;
  flex-wrap: wrap;

}

.left1 {
  width: 67%;
  padding-bottom: 5vh;
}

.right1 {
  width: 33%;
  padding-bottom: 5vh;
}

.cast {
  color: #FCF800;
  padding-left: 12vw;
}

.infos {
  color: #FCF800;
}

/*synopsis*/

.description {
  color: white;
  font-size: 1.5em;
  text-align: justify;
  padding: 0 12vw;
}


.bouton {
  text-align: center;
}

.button {
  margin: 5vh auto;
  cursor: pointer;
  height: 5vh;
  width: 12vw;
  border-radius: 0.7em;
  background-color: #D9D9D9;
}



.diffusion {
  width: 100%;
  text-align: center;
}

.lien {
  color: #FCF800;
  text-decoration: none;
  font-size: 1.2em;
}

.titre_avis {
  color: #D9D9D9;
  width: 100%;
  text-align: center;
  padding-top: 3em;
  font-size: 1.5em;
}

.noter {
  color: #D9D9D9;
}

.avis {
  display: block;
  margin-top: 5vh;
  width: 100%;
  text-align: center;
}

.commentaire {
  display: block;
  margin: auto;
}

.bouton-jaune {
  width: 10vw;
  background: #DCC12C;
  border: none;
  padding: 5px 5px;
  margin-bottom: 5px;
  margin: 30px 0 10px 0;
  cursor: pointer;
  transition: all 0.6s ease;
}

/* TABLETTE */

@media screen and (max-width: 769px) {

  .left {
    margin-top: 5vh;
  }

  .box {
    font-size: 1.5em;
  }

  .description {
    font-size: 1em;
    padding: 0 8vw;
  }

  .cast {
    padding-left: 8vw;
  }

  .left1 {
    width: 55%;
    font-size: 0.8em;
  }

  .right1 {
    width: 45%;
    font-size: 0.8em;
    padding-left: 5vw;
  }

  .titre {
    font-size: 1.5em;
  }

  .original {
    padding-left: 8vw;
  }

  .lien {
    font-size: 1em;
  }

  .titre_avis {
    font-size: 1.2em;
  }

  .stars {
    font-size: 0.8em;
  }

  .commentaire {
    width: 50%;
  }

}

/*MOBILE*/

@media screen and (max-width: 421px) {

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .right {
    width: 100%;
    margin-top: 2vh;

  }

  .left {
    display: none;
  }

  .left_bis {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .titre {
    font-size: 1.4em;
    padding-bottom: 5vw;
    margin: 0 10vw;
  }

  .original {
    padding-left: 0;
    margin: 0 10vw;
    text-align: center;
  }

  .affiche {
    width: 60vw;

  }

  .box {
    font-size: 1.2em;
    padding: 0.2em 0 1em;
  }

  .stars {
    font-size: 0.6em;
  }

  .commentaire {
    width: 70%;
    height: 10vh;
  }


}

/* ----------------------------------- FIN FICHES ---------------------------------------------- */