*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* Code CSS correspondant au header ( Nom du site + navbar + Connexion/Inscription ) */

header {
  background-color: #060D17;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@font-face {
  font-family: Scratched Letters;
  src: url("./police/Scratched_Letters.ttf");
}

#accueil_titre_principal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.accueil_titre_1 {
  font-size: 2.5em;
  margin-left: 1rem;
  color: #f0f0f0;
  font-family: "Scratched Letters", sans-serif ;
}

nav ul {
  list-style-type: none;
  display: flex;
  font-family: 'Cormorant', serif;
  font-size: 1.5rem;
}

nav li {
  margin-right: 6vw;
}

nav a {
  color: #f0f0f0;
}

nav a:hover {
  color: #FCF800;}

.btn-account {
  display: flex;
  align-items: center;
}

.fa-user-large:before {
  content: "\f406";
  color: #f0f0f0;
  margin-right: 1em;
}
/* Fin du header */

/* Codes CSS de l'espace "bannière" de l'accueil */
#accueil-slogo {
background-color: #060D17;
display: flex;
flex-wrap: wrap;
}

#accueil-slogo img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.accueil-logo {
  width: 50%;
  vertical-align: middle;
}

.accueil-slogan {
  width: 50%;
}

.accueil-scotch-top {
  background-image: url(./img/yellow_scotch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 0.8vh;
}

.accueil-scotch-bottom{
  background-image: url(./img/yellow_scotch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 0.8vh;
}
/* Fin code CSS Bannière Accueil */

/* Début code CSS Carrousel Accueil */
body {
  margin: 0;
  background: #060D17;
  text-align: center;
  font-family: 'Cormorant', serif;
  color: #f0f0f0;
}

.container {
  position: relative;
  width: 320px;
  margin: 3em auto 10em auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 21vh;
  height: 30vh;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

.carousel__face:nth-child(1) {
  background-image: url("./img/films/asterix_et_obelix_lempire_du_milieu.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("./img/series/andor.jpg");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("./img/films/avatar_la_voie_de_leau.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("./img/series/game_of_thrones_house_of_the_dragon.jpg");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("./img/films/black_panther_wakanda_forever.jpg");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("./img/series/le_seigneur_des_anneaux_les_anneaux_de_pouvoir.jpg");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("./img/films/top_gun_maverick.jpg");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("./img/series/westworld.png");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("./img/films/creed_3.jpg");
  transform: rotateY(320deg) translateZ(430px); }

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
/* Fin code CSS Carrousel Accueil */

/* Début code Footer*/
footer {
  width: 100%;
  background: #041626;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cormorant', serif;
  position:fixed;
  bottom:0;
  width:100%;
  height:2em;
}
/* Fin code Footer*/

/* Début code page Mentions légales*/
.mentleg {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
}

#mentleg p{
  margin-left: 20px;
  margin-right: 20px;
}

#mentleg h1, h2{
  text-align: center;
}

.mentlega {
  color: #f0f0f0;
  z-index: 100;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
}
/* Fin code page Mentions légales*/